name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: 
      name: staging
    strategy:
      matrix:
        node-version: [15.x]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Generate build number
      uses: einaregilsson/build-number@v3
      with:
        token: ${{ secrets.github_token }}
        prefix: client
    - name: Install dependencies
      run: npm install
    - name: Create .env
      run: |
        touch .env &&
        echo "NODE_ENV=${NODE_ENV}" > .env &&
        echo "YOUTUBE_API_KEY=${YOUTUBE_API_KEY}" >> .env
      env:
        NODE_ENV: ${{ secrets.NODE_ENV }}
        YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}